.search-bar {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 715px;
  height: 42px;
  padding: 0px;
  border-radius: 4px 0px 0px 4px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  padding: 10px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #26a8ff;
  }

  &:focus+button {
    outline: none;
    border-color: #26a8ff;
  }
}

button {
  width: 42px;
  height: 42px;
  border-radius: 0px 4px 4px 0px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  border-left: none;
}