.search-input {
  width: 715px;
  height: 42px;
  padding: 0px;
  border-radius: 4px 0px 0px 4px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  padding: 10px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border: 3px solid #26a8ff;
}