.search-input {
  width: 715px;
  height: 42px;
  padding: 0px;
  border-radius: 4px 0px 0px 4px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
}

.search-input:focus {
  outline: none;
  border: 1px solid #C4C4C4;
}