.card-item-type,
.card-item-type-1,
.card-item-type-2,
.card-item-type-3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  background: #0658F9;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.card-item-type-1 {
  background: #0658F9;
}
.card-item-type-2 {
  background: #fe0148;
}
.card-item-type-3 {
  background: #948a03;
}